Importing packages and reading data sets

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

Removing columns with missing data that are not significant for prediction

In [3]:
total = train_df.isnull().sum().sort_values(ascending=False)
percent = (train_df.isnull().sum()/train_df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

total1 = test_df.isnull().sum().sort_values(ascending=False)
percent1 = (test_df.isnull().sum()/test_df.isnull().count()).sort_values(ascending=False)
missing_data1 = pd.concat([total1, percent1], axis=1, keys=['Total', 'Percent'])

In [4]:
train_df = train_df.drop((missing_data[missing_data['Total'] > 1]).index,1)
test_df = test_df.drop((missing_data1[missing_data1['Total'] > 1]).index,1)

C:\Users\koles\AppData\Local\Temp\ipykernel_18188\2697222314.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  train_df = train_df.drop((missing_data[missing_data['Total'] > 1]).index,1)
C:\Users\koles\AppData\Local\Temp\ipykernel_18188\2697222314.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  test_df = test_df.drop((missing_data1[missing_data1['Total'] > 1]).index,1)

Filling other missing data with average

In [5]:
train_df = train_df.fillna(train_df.mean())
test_df = test_df.fillna(test_df.mean())

C:\Users\koles\AppData\Local\Temp\ipykernel_18188\488431920.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train_df = train_df.fillna(train_df.mean())
C:\Users\koles\AppData\Local\Temp\ipykernel_18188\488431920.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test_df = test_df.fillna(test_df.mean())

Getting dummy variables for categorical data

In [6]:
X = pd.get_dummies(train_df)
X_test = pd.get_dummies(test_df)

Splitting train data for prediction, and removing variables that are not in test set

In [7]:
X_train = X.drop('SalePrice', axis=1)
y_train = X['SalePrice']

In [8]:
cols = list(X_train.columns)
cols2 = list(X_test.columns)
for col in cols:
    if col not in cols2:
        X_train = X_train.drop(col, axis=1)

X_train

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,8450,7,5,2003,2003,706,0,150,...,0,0,0,1,0,0,0,0,1,0
1,2,20,9600,6,8,1976,1976,978,0,284,...,0,0,0,1,0,0,0,0,1,0
2,3,60,11250,7,5,2001,2002,486,0,434,...,0,0,0,1,0,0,0,0,1,0
3,4,70,9550,7,5,1915,1970,216,0,540,...,0,0,0,1,1,0,0,0,0,0
4,5,60,14260,8,5,2000,2000,655,0,490,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,7917,6,5,1999,2000,0,0,953,...,0,0,0,1,0,0,0,0,1,0
1456,1457,20,13175,6,6,1978,1988,790,163,589,...,0,0,0,1,0,0,0,0,1,0
1457,1458,70,9042,7,9,1941,2006,275,0,877,...,0,0,0,1,0,0,0,0,1,0
1458,1459,20,9717,5,6,1950,1996,49,1029,0,...,0,0,0,1,0,0,0,0,1,0
1459,1460,20,9937,5,6,1965,1965,830,290,136,...,0,0,0,1,0,0,0,0,1,0

Implementing Multiple Linear Regression and saving to csv our predictions

In [9]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [10]:
predictions = model.predict(X_test)

In [11]:
output = pd.DataFrame({'Id': test_df.Id, 'SalePrice': predictions})
output.to_csv('submission_house_prediction.csv', index=False)
output

        Id      SalePrice
0     1461  112037.366903
1     1462  141278.522574
2     1463  177611.848137
3     1464  192498.787102
4     1465  224621.768529
...    ...            ...
1454  2915   68697.010000
1455  2916   69004.650278
1456  2917  166189.960186
1457  2918   91623.369639
1458  2919  234890.743007

[1459 rows x 2 columns]